body {font-family: "Times New Roman", serif;
padding: 20px 50px;
text-align: left;
background-color: #faf3e6;
  color: #272625;
}

ul.topnav {list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 

}


ul.topnav li {float: left;
}

ul.topnav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

ul.topnav li a:hover {font-weight: bold; }

ul.topnav li a.active {font-weight: bold;}
 

@media screen and (max-width: 600px) {
   ul.topnav li {float: none;}
}
