body {font-family: "Times New Roman", serif;
padding: 20px;
text-align: center;
background-color: #faf3e6;
}

#main-heading {padding:30% 0% 0%}
#main-heading-text {padding:0% 15% 30%}
#about-heading {padding:30% 0% 0%}
#about-text {padding:0% 15% 30%}
#contact-text {padding: 0% 0% 30%}
#guernica {max-width:100%;
height: auto;
}



