body {
    font-family: 'Times New Roman';
    margin: 0;
    padding: 20px;
    background-color: #faebd7; /* Adjust background color */
    color: #000000;
}

header {
    background-color: #faebd7;
    color: #000000;
    padding: 10px;
}

}

.center-text {
    text-align: center;

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

.content-paragraph {
    margin-bottom: 20px; /* Adjust margin space between paragraphs */
    line-height: 1.6; /* Improve readability with appropriate line height */
}

img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image */
}

footer {
    background-color: #faebd7;
    color: #000000;
    text-align: center;
    padding: 10px;
}
