body {font-family: "Times New Roman", serif;
padding: 20px;
text-align: center;
background-color: #faf3e6;
  color: #272625;
}

#main-heading {padding:15% 0% 0%}
#main-heading-text {padding:0% 20% 15%}
#about-heading {padding:15% 0% 0%}
#about-text {padding:0% 20% 15%}
#contact-text {padding: 0% 0% 15%}
#pissarro {max-width:100%;
height: auto;
}

ul.topnav {list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; 

}


ul.topnav li {float: left;
}

ul.topnav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

ul.topnav li a:hover {font-weight: bold; }

ul.topnav li a.active {font-weight: bold;}
 

@media screen and (max-width: 600px) {
   ul.topnav li {float: none;}
}
  
